# .gitignore
frontend/
data/
yolov5/
yolo-birds/
dvcfiles/
wandb/
.dvc/
models/

# Node
node_modules/
.next/
.env*
.env.local

# Python
__pycache__/
*.py[cod]
*.log
.venv/
env/

# OS
.DS_Store
Thumbs.db

# AWS/DVC/Secrets
.aws/
*.key
*.pem
*.dvc/cache/
*.pt
models/best.pt

# Docker
*.container
*.image

# VS Code
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints/
